<span id="{{ .File.UniqueID }}">Loading views...</span>

<script>
  (function() {
    const el = document.getElementById('{{ .File.UniqueID }}');
    const pageUrl = encodeURIComponent(window.location.href);

    fetch('https://page-views-counter.netlify.app/page_view?page=' + pageUrl)
      .then(response => response.json())
      .then(data => {
        el.innerText = data.data.view_count + ' views';
      })
      .catch(err => {
        console.error('Failed to load page views:', err);
        el.innerText = '0 views';
      });
  })();
</script>
